<footer>
    <div class="container-fluid navbar-inverse">
        <div class="row">
            <div class="col-sm-3">
                <ul class="footer-section">
                    <li><h4>Documentation</h4></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="footer-section">
                    <li><h4 class="external-link">友情链接</h4></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="footer-section">
                    <li><h4>Resources</h4></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="footer-section">
                    <li><a href="https://twitter.com/ReactiveX">Twitter<span class="external-link"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>