<footer>
    <div class="container-fluid navbar-inverse">
        <div class="row">
            <div class="col-sm-3">
                <ul class="footer-section">
                    <li><h4>Documentation</h4></li>
                    <li><a href="/documentation/observable.html">Observable</a></li>
                    <li><a href="/documentation/operators.html">Operators</a></li>
                    <li><a href="/documentation/single.html">Single</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="footer-section">
                    <li><h4>Languages</h4></li>
                    <li><a href="https://github.com/ReactiveX/RxJava">RxJava<span class="external-link"></span></a></li>
                    <li><a href="https://github.com/Reactive-Extensions/RxJS">RxJS<span class="external-link"></span></a></li>
                    <li><a href="https://github.com/Reactive-Extensions/Rx.NET">Rx.NET<span class="external-link"></span></a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="footer-section">
                    <li><h4>Resources</h4></li>
                    <li><a href="/tutorials.html">Tutorials</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="footer-section">
                    <li><h4>Community</h4></li>
                    <li><a href="https://github.com/ReactiveX">GitHub<span class="external-link"></span></a></li>
                    <li><a href="https://twitter.com/ReactiveX">Twitter<span class="external-link"></span></a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 disclaimer">
                <a href="">ReactiveX<span class="external-link"></span></a>
                is a collection of open source projects. The content of this
                page is licensed under Creative Commons Attribution 3.0 License, and
                code samples are licensed under the BSD License.
            </div>
        </div>
    </div>
</footer>