<!--左侧导航栏-->
<div class="col-md-2 col-xs-2">
    <ul id="main-nav" class="nav nav-tabs nav-stacked">
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-th-large"></i>
                {{name}}
            </a>
        </li>
        <li>
            <a href="#to" class="nav-header collapsed" data-toggle="collapse">
                <i class="glyphicon glyphicon-tasks"></i>
                <span>博客</span>
                <span class="pull-right glyphicon glyphicon-chevron-down"></span>
            </a>
            <ul id="to" class="nav nav-list collapse secondmenu" style="height: 0px;">
                <li><a href="#"><i class="glyphicon glyphicon-user"></i>Java</a></li>
                <li class="active"><a href="#"><i class="glyphicon glyphicon-th-list"></i>Linux</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-asterisk"></i>Python</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-edit"></i>云音乐</a></li>
                <li><a href="#"><i class="glyphicon glyphicon-eye-open"></i>留言板</a></li>
            </ul>
        </li>
        <li>
            <a href="./plans.html">
                <i class="glyphicon glyphicon-credit-card"></i>
                系统管理
            </a>
        </li>

        <li>
            <a href="./grid.html">
                <i class="glyphicon glyphicon-globe"></i>
                流量监控
                <span class="label label-info pull-right">5</span>
            </a>
        </li>

        <li>
            <a href="./charts.html">
                <i class="glyphicon glyphicon-calendar"></i>
                图表统计
            </a>
        </li>
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-fire"></i>
                关于系统
            </a>
        </li>
    </ul>
</div>