/**
body{
    padding-top: 150px;
}
*/
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'����' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
body {
    background: url(../image/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.a {
    color: #7C7C7C;
    padding-left: 5px;
    text-decoration: none;
}
.a:visited {
    text-decoration:none;
}
.a:active{
    text-decoration:none;
}
.a:hover{
    color: #970714;
    text-decoration:none;
}
.hr {
    margin-bottom: 10px;
    margin-top: 10px;
    border: 0px;
    border-top: 1px solid #1e88e5;
}
.title {
    color: #000000;
    padding-left: 5px;
    text-decoration: none;
}
.title:visited {
    text-decoration:none;
}
.title:active{
    text-decoration:none;
}
.title:hover{
    color: #970714;
    text-decoration:none;
}